
/*header*/
header{
    background-color: pink;
}

header div img{
    width: 250px;
height: 250px;

}
/*main*/
main{
    background-color: pink;
}
.a{
display: grid;


}

article img{
   
height: 250px;
}
 
 
/*footer*/
footer img{
width: 50px;
height: 50px;
}

 