/*fonts*/
/*titulo*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap');
/*texto*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/*header*/
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header {
    background-color: rgba(228, 130, 146, 0.904);

}

header div img {
    width: 150px;
    height: 150px;
}



a {

    color: blueviolet;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25rem;

}



.navBarOriginal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding-right: 10px;
    text-decoration: none;
    list-style-type: none;
}

.navBarOriginal a {
    text-decoration: none;
    color: blueviolet;
    font-family: 'Merriweather Sans', sans-serif;
}




/*main*/

/*mainIndex*/
.fondoIndex {

    background-color: #f8d3f0;
    background-image: url("../assets/imgs/port.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;

}





/*main*/

h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    padding-top: 250px;
    color: rgb(255, 255, 255);

}

h3 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
}

h4 {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}

p {

    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1rem;
}


/*mainProductos*/
/* article img {
     
    height: 250px;
    width: 250px;
    border: solid 1px black;
    border-radius: 10px;
}  */

/* article { */
/* display: flex;
     flex-direction: column;
        justify-content: center;
        align-items: center; */
/* display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "img h3"
        "img h4"
        "img p1"
        "img h4"
        "img div"
        "img span"
        "img p2"
        "img button"
        ; */

/* } */



/* 
  article h3 {
    grid-area: h3; */
/* text-align: center; */
/* } */

/* article h4 {
    grid-area: h4;
}
article div   {
     grid-area: span;
}

article img {
    grid-area: img;
}

article .p1 {
    grid-area: p1;
}

article .p2 {
    grid-area: p2;
}
article.button {
    grid-area: button;
    width: 50px;
    height: 50px;
}   */

/* article .p3 {
    grid-area: div;
    color: black;
    text-align: center;
    background-color: rgb(243, 140, 195);
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;

} */
*/

/*mainServicios*/
.fondoServicios {
    background-color: #f8dbd3;
    background-image: url("../assets/imgs/fondoServicios.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;

}

.servicios li {
    font-family: 'Merriweather Sans', sans-serif;

}

/*mainContactos*/
.fondoContactos {
    background-color: #6e6e6e;
    background-image: url("../assets/imgs/fondoContactos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;



}

/*footer*/
footer {
    background-color: rgba(228, 130, 146, 0.904);

}


footer img {
    width: 50px;
    height: 50px;
}

.btnBar {
    color: rebeccapurple;
}

.fondoIndex h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 7rem;
    color: rgb(0, 0, 0);
}

.fondoServicios h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 7rem;
    color: rgb(0, 0, 0);
}

.fondoContactos h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 7rem;
    color: rgb(0, 0, 0);

}

.cesta-carrito {
    color: rgb(0, 0, 0);
    font-size: 25px;
    background-color: blueviolet;
    border-radius: 75%;
    padding: 10px 20px;
    transition: all .10s;
}

button p {

    font-size: 20px;




}

.logo img {
    width: 10;
    height: 10;
}

.mapaUbicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main .servicios {
    text-align: center;

}

.servicios {
    list-style-type: none;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1rem;
    color: black;

}

.servicios h2 {
    grid-area: h2;
}

.servicios img {
    grid-area: img;
}

.servicios img {
    width: 250px;
    height: 250px;
}

button {
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 20px;


    font-size: 10rem;
    color: black;
    font-weight: bold;
}

.cotizacion button {

    border-radius: 100px;
   margin-left: 750px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
 

.formPosition {
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-content: center;
    align-items: center;
}

.formPositionButton {
    display: flex;
    flex-direction: row;
    gap: 1px;
    justify-content: center;
    align-items: center;

}

.footerFinal {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.footerFinal2 {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.circle1 {
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
}

.circle2 {
    height: 30px;
    width: 30px;
    background-color: rgb(183, 0, 255);
    border-radius: 50%;
}

.circle3 {
    height: 30px;
    width: 30px;
    background-color: rgb(255, 0, 191);
    border-radius: 50%;
}

.circle4 {
    height: 30px;
    width: 30px;
    background-color: rgb(0, 225, 255);
    border-radius: 50%;
}

.circles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

article img {

    height: 500px;
    width: 500px;

}

/* 
article { */
/* display: flex;
     flex-direction: column;
        justify-content: center;
        align-items: center; */
/* display: grid;
        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "img h3"
        "img h4"
        "img p1"
        "img h4"
        "img div"
        "img span"
        "img p2"
        "img button"
        ;
      
} */




/* article h3 { */
/* grid-area: h3; */
/* text-align: center; */
/* }

article h4 {
    grid-area: h4;
}
article div   {
     grid-area: span;
}

article img {
    grid-area: img;
}

article .p1 {
    grid-area: p1;
}

article .p2 {
    grid-area: p2;
}
article.button {
    grid-area: button;
    width: 50px;
    height: 50px;
}   */

article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

article section button .btnColor {
    background-color: rgb(0, 0, 0);
}

.logo a {
    font-family: 'Lobster', cursive;
    font-size: 7rem;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
}

.logo a h1 {
    font-family: 'Lobster', cursive;

    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 10px;
}

.fondoServicios {
    background-color: #f8dbd3;
    background-image: url("../assets/imgs/fondoServicios.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;

}

.txtInicio img {
    width: 250px;
    height: 250px;
}

.txtInicio {
    height: 100vh;
    padding-top: 50px;
    background-color: rgb(218, 216, 216);
    display: grid;
    grid-template-areas:
        "timg th2"
        "timg tp";

}

.txtInicio h2 {
    grid-area: th2;
    text-align: center;
}

.txtInicio p {
    grid-area: tp;
    text-align: flex-end;

    padding-left: 25px;
}

.txtInicio img {
    grid-area: timg;
    align-self: center;

}

button.btnNuevo {
    color: blueviolet;
}

.cartSnacks {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cartSnacks img {
    width: 250px;
    height: 250px;
}

.fondoProductos {
    background-color: #f8dbd3;
    background-image: url("../assets/imgs/imagen1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.fondoProductos h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 7rem;
    color: rgb(0, 0, 0);
}

.snackQuestion1 {

    background-image: url("../assets/imgs/snack2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    text-align: center;

}

.snackQuestion2 {

    background-image: url("../assets/imgs/snack1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.snackQuestion3 {

    background-image: url("../assets/imgs/snack3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;

}

.snackQuestion4 {

    background-image: url("../assets/imgs/snackq.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;

}
.snackQuestion5{
    
        background-image: url("../assets/imgs/snack4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        background-position: center;
    
}
.snackQuestion5 h1{
    
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 5rem;

}

.snack p,
label,
h3,
h4 {
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    color: rgb(0, 0, 0);
    text-align: center;
}

.snackQuestion1  h1 {
     
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 5rem;
     

}
.snackQuestion2 h1{
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 5rem;
}
.snackQuestion3{
    display: flex;
    flex-direction: column;
     
    align-items: center;
}
.snackQuestion3  h1 {
     
    font-family: 'Lobster', cursive;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 5rem;
     

}
.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.checkbox label{
    
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
}
.flexSubmit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

 
.snackQuestion4  h1 {
     
    font-family: 'Lobster', cursive;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 5rem;
     
 }
.snackQuestion4 label{
        
        font-family: 'Lobster', cursive;
        color: rgb(0, 0, 0);
        text-align: center;
}

.snackImagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.snackQuestion4{
    display: flex;
    flex-direction: column;
      
    align-items:  center;
     

}
.snackImagen img {
    width: 500px;
    height: 500px;
}

.login label,
h2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
}

.login a {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.login input {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
}

.login span {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25rem;
    color: rgb(0, 0, 0);

}

.login2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.register {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.register div a {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.hide {
    display: none;
}

.active {
    display: block;
}

.cartNew {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 50px;
}

.formPosition label h4 {


    color: rgb(0, 0, 0);
    text-decoration: none;
}